@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url('@fontsource/manrope/files/manrope-latin-300-normal.woff2') format('woff2');
}
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('@fontsource/manrope/files/manrope-latin-400-normal.woff2') format('woff2');
}
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('@fontsource/manrope/files/manrope-latin-500-normal.woff2') format('woff2');
}
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url('@fontsource/manrope/files/manrope-latin-600-normal.woff2') format('woff2');
}
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url('@fontsource/manrope/files/manrope-latin-700-normal.woff2') format('woff2');
}
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: url('@fontsource/manrope/files/manrope-latin-800-normal.woff2') format('woff2');
}
